<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ski Report</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Welcome to the Ski Report!</h1>

        <form method="post" action="/">
            <label for="city">Enter City:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Info</button>
        </form>

        {% for resort in resorts %}
        <div class="resort-tile">
            <h2 class="resort-name">{{ resort.name }}</h2>
            <div class="stats-container">
                <div class="stat">
                    <span class="stat-label">Temperature:</span>
                    <span class="stat-value">{{ resort.get_temperature() }}</span>   
                </div>
                <div class="stat">
                    <span class="stat-label">Conditions:</span>
                    <span class="stat-value">{{ resort.get_description() }}</span>   
                </div>
                <div class="stat">
                    <span class="stat-label">Resort Rating:</span>
                    <span class="stat-value">{{ resort.get_rating() }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        </body>
</html>

